:root {
    --primary-color: #28CB8B;
    --secondary-color: #263238;
    --info: #2194f3;
    --action-warning: #FBC02D;
    --action-danger: #E53835;
    --action-success:  #2E7D31;
    --button-primary : #4CAF4F;
    --neutral-silver : #F5F7FA;
    --neutral-grey : #717171;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    user-select: none;
}
header{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    align-items: center;
    display: flex;
    gap: 2rem;
}
ul{
    display: flex;
    gap: 1.2rem;
}
ul > li {
    list-style: none;
}
ul > li > a {
    color: var(--secondary-color);
    text-decoration: none;
}
.register{
    padding: 0.75rem 2rem;
    color: #fff;
    background-color: var(--button-primary);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* nav button > span{
    width: 2px;
}
nav button > span > img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
} */

.hero{
    width: 100%;
    padding: 5rem 0;
    background-color: var(--neutral-silver);
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    /* gap: 5rem; */
    position: relative;
}
.hero-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
    /* border: 2px solid var(--action-danger); */
}
.hero h1{
    color: #4D4D4D;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
}
.hero h1:nth-of-type(2){
    color: var(--button-primary);
}
.hero p{
    color: var(--neutral-grey);
}
.hero-right{
    /* border: 2px solid var(--action-danger); */
    width: min(50%, 400px);
}
.hero-right > img{
    width: 100%;
}
.dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    gap:5px;
}
.dot{
    width: 5px;
    height: 5px;
    background-color: #C8E6C9;
    border-radius: 50%;
}
.dot:first-child{
    background-color: var(--button-primary);
}

/* ----------------------------------------------------------------------------- */

main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#community{
    padding: 3rem;
    text-align: center;
}

.community-text > h2{
    color: #4D4D4D;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1rem;
}
.community-text > p{
    color: #717171;
}

.logo-slider{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    position: relative;
    justify-content: start;
    overflow: hidden;
}
.logo-container{
    display: flex;
    gap: 8rem;
    padding-right: 8rem;
    animation: marquee 10s linear infinite both;
}
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .community-cards{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.community-card{
      flex-basis: 300px;
    box-shadow: 0 2px 4px 0 #ABBED133;
    padding: 2rem;
    border-radius: 5px;
  }
.community-card > h3{
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 0.75rem;
    color: #4D4D4D;
}
  .community-card > p{
    color: #717171;
  }


  /* ------------------------------------------------------- */


  .float-section{
    width: 70%;
    gap: 6rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
  }
  .float-section-left{
      /* border: 1px solid var(--action-danger); */
  }
  .float-section-right{
    /* border: 1px solid var(--action-danger); */
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
        align-items: start;
        gap: 1.5rem;
  }
  .float-section-right > h2{
    font-size: 3rem;
    color: #4D4D4D;
    line-height: 1;
    font-weight: 500;
  }
  .float-section-right > p{
    font-size: 0.85rem;    
    color: #717171;
    max-width: 550px;
  }

  /* --------------------------------------------------------- */

  #stats{
    width: 100%;
    background-color: var(--neutral-silver);
    display: flex;
    padding: 3rem; 
    justify-content: space-around;
  }

  #stats-left > h2{
    font-size: 2.5rem;
    color: #4D4D4D;
    line-height: 1.2;
  }
  #stats-left > h2:nth-of-type(2){
    color: var(--primary-color);
  }
  #stats-left > p{
    margin-top: 1rem;
    font-size: 1rem;
    color: #18191F;
  }
  #stats-right{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
    /* border: 1px solid var(--action-danger); */
  }
  .stat-right-row{
    /* border: 1px solid var(--action-warning); */
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .stat{
    display: flex;
    gap: 1rem;
    /* border: 2px solid var(--action-success); */
  }
  .stat > img{
    width: 48px;
    height: 48px;
  }
  .stat-info > h3{
    color: #4D4D4D;
    font-size: 1.75rem;
  }
  .stat-info > p{
    color: #717171;
    font-size: 1rem;
  }

  /* -------------------------------------------------------- */

  #inspiration > .float-section-right{
    justify-content: center;
  }
/* ----------------------------------------------------------- */
  #tim-smith{
    width: 100%;
    display: flex;
    padding: 3rem;
    background-color: var(--neutral-silver);
    justify-content: center;
    gap: 8rem;
  }
  .tim-smith-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .tim-smith-right > p{
    color: #717171;
    font-size: 1rem;
  }
  .tim-smith-right-text > h4{
    margin-top: 1rem;
    color: var(--primary-color);
    font-size: 1.2rem; 
  }
  .tim-smith-right-text > p:last-child{
    color: #89939E;
  }
  .tim-smith-right-logos{
    width: 100%;
    /* border: 1px solid var(--action-danger); */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta{
    border: none;
    color: var(--button-primary);
    font-size: 1.2rem;
    background-color: transparent;
  }

button{
    cursor: pointer;
}

/* ------------------------------------------------------- */

#caring{
    text-align: center;
    /* margin: 3rem 0; */
    padding: 3rem;
}
#caring h2{
    font-size: 2.5rem;
    color: #4D4D4D;
    font-weight: 500;
    line-height: 2;
}
#caring p{
    margin: 0 auto;
    font-size: 1rem;
    color: #717171;
    width: 32%;
}
#caring-cards{
    padding: 3rem 0;
    display: flex;
    justify-content: space-evenly;
}
.caring-card{
    /* border: 1px solid red; */
    position: relative;

}
.overlay{
    width: 80%;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 8px 16px 0 #ABBED166;
    background-color: var(--neutral-silver);
    z-index: 2;
    padding: 1rem;
    border-radius: 5px;
}
.overlay > h3{
    font-size: 1.2rem;
    color: #717171;
}
.overlay > button{
    margin: 1rem;
    font-size: 1.2rem;
}

/* -------------------------------------------------------- */

#demo{
    background-color: var(--neutral-silver);
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}
#demo > h2{
    margin: 0 auto;
    font-size: 4rem;
    color: #263238;
    width: 40%;
    margin-bottom: 2rem;
}
#demo > button{
    margin: 0 auto;
}

/* --------------------------------------------------------- */

footer{
    padding: 3rem;
    background-color: #263238;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footer-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}
#footer-left  p{
    line-height: 1.75;
}
.footer-social-icons{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#footer-right{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
#footer-right > .footer-col > h4{
    font-size: 1.5rem;
    line-height: 3;
}
#footer-right > .footer-col > p{
    font-size: 1rem;
    line-height: 2;
    color: #F5F7FA;
}
.input-container{
    position: relative;
}
.footer-col  input{
    border: none;
    background-color: #80808055;
    padding: 12px;
    border-radius: 5px;
    color: var(--primary-color);
}
.footer-col  input::placeholder{
    color: #D9DBE1;
}
.footer-col  input:focus{
    outline: none;
}
.input-container > button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 2;
}